<div class="share-page-post4">
  Share this on &rarr;
  <br/>
  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
  <a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent('{{site.url}}{{page.url}}')+%22&t=%22+encodeURIComponent('{{page.title}}')" rel="nofollow" target="_blank">Hacker News</a>
  <a href="mailto:?body={{ site.url }}{{ post.url }}&subject={{ post.title }}" target="_blank" rel="nofollow">Email</a> 
</div>
