---
layout: default
---
<article>
<div class="heading">{{ page.title }}</div>
<p class="meta"><a class="permalink" href="{{ site.baseurl }}{{ post.url }}">&#9679;</a> {{ page.date | date_to_string }}</p>
<p class="meta"><a href="https://twitter.com/ThatcherClay" class="twitter-follow-button" data-show-count="false">Follow @ThatcherClay</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
<p class="meta"><b><a href="https://tinyletter.com/urban_calc" target="None">Subscribe to Newsletter</a></b></p>
{{ content }}
{% include tags.html %}
{% include share-page-post.html %}
</article>
